/*!******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/App.module.scss ***!
  \******************************************************************************************************************************************/
.vuNW2vj6Sg6ecqnjBWHJ {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  height: 40px !important;
  margin: 5px !important;
  cursor: pointer !important; }

.Bp4gzGUVlNtTzVcld9i9 {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 110px;
  background-color: green; }
  .Bp4gzGUVlNtTzVcld9i9 span {
    font-weight: bold; }

.CPNh1eph9l1jcLqbKQZx {
  font-size: 43px;
  text-align: center;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 50px; }

h2 {
  font-size: 30px;
  text-align: center; }

.IMqMrT2eGOGeFiLbCAGg {
  text-align: center;
  margin-top: 50px; }

.ENGaq8a67Yq5AESecZmy {
  width: 20%;
  border: 1px solid #ccc;
  padding: 20px;
  display: inline-block; }

.YjV_RFRwYpVgyoc1c8QO {
  font-size: 3rem;
  margin-bottom: 30px; }

